.orders-list {
  display: grid;
  grid-gap: var(--spacing-1);
}

.orders-list-item {
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--paper);
}

.highlighted {
  background-color: var(--primary-background);
}

.orders-list-item-heading {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 3fr;
  align-items: center;
}

.orders-list-item-orderitem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 3fr;
  align-items: center;
}

.justify-end {
  justify-self: end;
}
